.status{
    padding: 5px;
    height: 40px;
    color: #FFF;
    width: auto;
    /* display: inline-block; */

}

.error {
    background-color: red;

}

.success {
    background-color: aquamarine;
}